---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import ImageGallery from "@/sections/ImageGallery.astro";
import About from "@/sections/About.astro";

import { getLandingData } from "@/services/data.service";
const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col items-center justify-center">
    <Hero data={data.heroData} />
    <div class="w-3/4">
      <Services sectionId="services-section" data={data.servicesData} />
      <ImageGallery sectionId="gallery-section" />

      <!-- <Adventajes data={data.adventajesData} /> -->
      <!-- <Brands data={data.brandsData} /> -->
      <!-- <Pricing data={data.pricingData} /> -->
    </div>
    <About sectionId="about-section" />
    <Footer data={data.footerData} />
  </main>
</Layout>
